/* ─── Bottom navigation ───────────────────────────── */
.bottom-nav {
  grid-area: 1/1;
  align-self: end;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  height: var(--nav-h-safe);
  padding: 1rem 0;
  /* padding-bottom: env(safe-area-inset-bottom, 0px); */
  /* margin: 0 1rem 1rem 1rem; */
  margin: 0 0.875rem calc(0.75rem + env(safe-area-inset-bottom, 0px));
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 0.75rem;
  box-shadow: 0 2px 9.1px 0 rgba(0, 0, 0, 0.25);
}

.nav-item {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
  background: none;
  border: none;
  cursor: pointer;
  color: #a0a0a8;
  font-family: var(--font);
  position: relative;
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
}

.nav-item--active { 
  color: var(--dark); 
  font-weight: 700; 
}

.nav-item--active > .nav-icon svg path { fill: var(--grey-300); }
.nav-item--active>.nav-label {
  font-weight: 700;
}

.nav-icon { display: flex; }
.nav-icon svg { stroke: currentColor; }

.nav-label {
  font-size: 13px;
  font-weight: 500;
  letter-spacing: .01em;
}

.nav-dot {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 4px;
  height: 4px;
  background: var(--dark);
  border-radius: 50%;
  margin-bottom: -0.5rem;
}

.nav-add-btn {
  width: 64px;
  height: 64px;
  background: transparent;
  border: none;
  border-radius: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  flex-shrink: 0;
  padding: 0;
/*   margin-left: -0.1rem;
  margin-right: -0.1rem; */
  box-shadow: none;
  transition: transform .15s;
  -webkit-tap-highlight-color: transparent;
  margin-top: -22px;
}

.nav-add-icon {
  width: 64px;
  height: 64px;
  display: block;
  image-rendering: pixelated;
}

.nav-add-btn:hover {
  transform: scale(1.06);
}

.nav-add-btn:active { transform: scale(0.96); }
